@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-container {
    background-color: #FFF9F4;
    margin-bottom: 6%;
}
.f-size {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
}
.f-color {
    color: #FA804C;
}
.f-color2{
    color: #363958;
}
.te-color{
    color: #3E3E3E;
}

.bg-color {
    background-color: #F1F1F1;
    margin: 14px;
}

.dollar {
    color: #FA804C;
}

.styles img {
    width: 70px;
    height: 80px;
}

.benefit-section{
    margin-top: 10%;
}

.footer-part {
   
    background-color: rgba(23, 24, 24, 0.418);
}

.icons a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.facebook {
    color: blue;
}
.twitter {
    color:  #26a7de;
}

.instagram {
    color: rgba(192, 14, 53, 0.842);
}